services:
  app:
    build:
      context: .
    tty: true
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - WATCHPACK_POLLING=true
    env_file:
      - .env
    ports:
      - "3000:3000"