services:
  app:
    build:
      context: .
    tty: true
    volumes:
      - ./src:/app
    environment:
      - WATCHPACK_POLLING=true
    env_file:
      - .env
    command: sh -c "npm run dev"
    ports:
      - "3000:3000"